/* src/components/ProductCard.css */

/* 상품 카드의 이미지 스타일 */
.product-card-img {
  height: 250px; /* 모든 이미지의 높이를 250px로 고정 */
  object-fit: cover; /* 비율을 유지하면서 요소를 채우도록 이미지를 조정 */
  width: 100%;
}

/* 카드 전체에 대한 스타일 및 호버 효과 */
.card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border: none; /* 기본 테두리 제거 */
}

.card:hover {
  transform: translateY(-5px); /* 위로 살짝 떠오르는 효과 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1) !important; /* 그림자를 더 강조 */
}
